<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Video Call</title>
  <link rel="shortcut icon" href="images/favicon.png">
  <link rel="stylesheet" href="css\styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&family=Kanit:ital,wght@1,300&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <%- include ('common/nav') ;-%>


  <section class="back" id="home">

    <div class="bg-overlay"></div>

    <div class="logintable">
      <div class="tableback">

        <div id="video-grid"></div>
      </div>








  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <script src="index.js"></script>







</body>
</html>
